@import "tailwindcss";
@import "./assets/fonts.css";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

:root {
	--font-sans: "SUIT";
}

/* intro text 밑줄 효과 */
.underline-text {
	position: relative;
	display: inline-block;
	width: 100%;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
}

.underline-text::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 2px;
	background-color: #fff;
	transition: width 0.5s ease-in-out;
}

.underline-text.rendered::after {
	width: 100%;
}

h1.content-title {
	font-size: 32px;
	font-weight: 700;
	color: #fff;
}

@media (max-width: 768px) {
	h1.content-title {
		font-size: 24px;
	}
}

h2.content-title {
	font-size: 22px;
	font-weight: 700;
	color: #fff;
}

@media (max-width: 768px) {
	h2.content-title {
		font-size: 18px;
	}
}

h3.content-title {
	font-size: 20px;
	font-weight: 500;
	color: #fff;
}
@media (max-width: 768px) {
	h3.content-title {
		font-size: 16px;
	}
}

h4.content-title {
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	width: 100%;
}

ol.list-decimal li::marker {
	color: #ffffff;
}

ul.dot {
	margin-top: 6px;
}

ul.dot li {
	position: relative;
	padding-left: 16px;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
}
ul.dot li::before {
	content: "";
	width: 8px;
	height: 8px;
	position: absolute;
	left: 0;
	top: 8px;
	border-radius: 50%;
	border: 0.5px solid #fff;
}

@media (max-width: 768px) {
	ul.dot li {
		font-size: 14px;
	}
}

/* eum Swiper pagination */
.eum-pagination {
	display: flex;
	justify-content: center;
	gap: 0 10px;
	margin-top: 40px;
}

.eum-pagination .swiper-pagination-bullet {
	background-color: #fff;
}
